{% extends "base.html" %} {% block title %}Admin dashboard{% endblock title %}
{% block content %}
<div class="container mx-auto max-w-2xl">
  <p class="text-3xl font-medium">Welcome {{username}}!</p>
  <a class="mt-4 block" href="/">Go back to home</a>
  <p class="mt-2 text-lg">Available actions:</p>
  <ul class="list-inside list-disc">
    <li><a href="/admin/password">Change password</a></li>
    <li><a href="/admin/newsletters">Publish a newsletter issue</a></li>
    <li><a href="/admin/delivery_process">Check the delivery queue</a></li>
  </ul>
  <form class="mt-2" name="logoutForm" action="/admin/logout" method="post">
    <button type="submit">Logout</button>
  </form>
</div>
{% endblock content %}
