<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>{% block title %}{% endblock title %} - Zero2Prod</title>
    {% endblock head %}
  </head>
  <body>
    <div class="container mx-auto flex min-h-screen flex-col">
      <main class="mt-4 grow">{% block content %}{% endblock content %}</main>
      {% block footer %}
      <footer class="my-4 w-full">
        <hr />
        <div class="mt-2 flex flex-col flex-wrap items-center justify-center">
          <p class="text-sm text-gray-600">Some footer here</p>
        </div>
      </footer>
      {% endblock footer %}
    </div>
  </body>
</html>
