{% extends "base.html" %} {% block title %}Delivery process{% endblock title %}
{% block content %}
<div class="container mx-auto max-w-screen-lg">
  <p class="text-3xl font-medium">Delivery process</p>
  <p class="mt-8 text-lg font-medium">
    Pending deliveries: <span class="text-gray-700">{{queue_len}}</span>
  </p>
  {% if queue_len > 0 %}
  <table class="table-fmt mt-2 table-auto">
    <thead>
      <tr>
        <th>Subscriber email</th>
        <th>Send attempts</th>
        <th>Next retry</th>
        <th>Newsletter issue</th>
      </tr>
    </thead>
    <tbody>
      {% for data in queue_data %}
      <tr>
        <td>{{data.subscriber_email}}</td>
        <td>{{data.n_retries}}</td>
        <td>{{data.next_retry}}</td>
        <td class="text-clip">{{data.issue_title}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
  <p class="mt-4"><a href="/admin/dashboard">&lt;- Back</a></p>
</div>
{% endblock content %}
