{% extends "base.html" %} {% block title %}Login{% endblock title %} {% block
content %}
<div class="mx-auto max-w-screen-sm">
  {% if error_msg %}
  <div class="mb-2 break-words bg-red-200 p-2 text-sm">
    <p><i>{{error_msg}}</i></p>
  </div>
  {% endif %}
  <form class="grid grid-cols-1 gap-6" action="/login" method="post">
    <label>
      <span class="text-gray-700">Username</span>
      <input
        class="w-full rounded"
        type="text"
        placeholder="Enter Username"
        name="username"
      />
    </label>
    <label>
      <span class="text-gray-700">Password</span>
      <input
        class="w-full rounded"
        type="password"
        placeholder="Enter Password"
        name="password"
    /></label>
    <button type="submit">Login</button>
  </form>
</div>
{% endblock content %}
