<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>Publish Newsletter Issue</title>
  </head>
  <body>
    {% if error_msg %}
      <p><i>{{error_msg}}</i></p>
    {% endif %}
    <form action="/admin/newsletters" method="post">
      <label
        >Title:<br />
        <input type="text" placeholder="Enter the issue title" name="title"
      /></label>
      <br />
      <label
        >Plain text content:<br />
        <textarea
          placeholder="Enter the content in plain text"
          name="text_content"
          rows="20"
          cols="50"
        ></textarea>
      </label>
      <br />
      <label
        >HTML content:<br />
        <textarea
          placeholder="Enter the content in HTML format"
          name="html_content"
          rows="20"
          cols="50"
        ></textarea>
      </label>
      <br />
      <button type="submit">Publish</button>
    </form>
    <p><a href="/admin/dashboard">&lt;- Back</a></p>
  </body>
</html>
