{% extends "base.html" %} {% block title %}Change Password{% endblock title %}
{% block content %}
<div class="mx-auto max-w-md">
  {% if error_msg %}
  <div class="mb-2 break-words bg-red-200 p-2 text-sm">
    <p><i>{{error_msg}}</i></p>
  </div>
  {% endif %}
  <form class="grid grid-cols-1 gap-6" action="/admin/password" method="post">
    <label>
      <span class="text-gray-700">Current password</span>
      <input
        class="w-full rounded"
        type="password"
        placeholder="Enter current password"
        name="current_password"
      />
    </label>
    <label>
      <span class="text-gray-700">New password</span>
      <input
        class="w-full rounded"
        type="password"
        placeholder="Enter new password"
        name="new_password"
      />
    </label>
    <label>
      <span class="text-gray-700">Confirm new password</span>
      <input
        class="w-full rounded"
        type="password"
        placeholder="Type the new password again"
        name="new_password_check"
      />
    </label>
    <button type="submit">Change password</button>
  </form>
  <p><a href="/admin/dashboard">&lt;- Back</a></p>
</div>
{% endblock content %}
