{% extends "base.html" %} {% block title %}Subscribe to newsletter{% endblock
title %} {% block content %}
<div class="container mx-auto max-w-screen-sm">
  {% include "flash_msgs.html" %}
  <form class="grid grid-cols-1 gap-6" action="/subscribe" method="post">
    <label>
      <span class="text-gray-700">Name</span>
      <input
        class="w-full rounded"
        type="text"
        placeholder="Enter the issue title"
        name="name"
      />
    </label>
    <label>
      <span class="text-gray-700">E-mail</span>
      <input
        class="w-full rounded"
        type="text"
        placeholder="Enter the issue title"
        name="email"
      />
    </label>
    <button type="submit">Publish</button>
  </form>
  <p><a href="/">&lt;- Back</a></p>
</div>
{% endblock content %}
